<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div id="item_numbers" class="border_inline_block">
    <h2>item_number.csv</h2>

    <form action="" method="post" name="item_numbers">
        {{ form.item_numbers }} <br>
        <input type="submit" value="Submit">
    </form>
</div>
<div id="special_champ_names" class="border_inline_block">
    <h2>special_champ_names.csv</h2>
        <form action="" method="post" name="champ_names">
            {{ form.special_champ_names }} <br>
        <input type="submit" value="Submit">
    </form>

</div>

{% endblock %}